/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ko-toolbar {
  border-bottom: lightgray solid 1px;
  padding: 4px;
  background-color: white;
}

.ko-screen-content {
  padding: 16px;
}

.ko-action-bar {
  border-bottom: lightgray solid 1px;
  padding: 4px;
  background-color: white;
  display: flex;
  justify-content: end;
}
