/* You can add global styles to this file, and also import other style files */
@import 'custom-theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ko-toolbar {
  border-bottom: lightgray solid 1px;
  padding: 4px;
  background-color: white;
}

.ko-screen-content {
  padding: 16px;
}

.ko-action-bar {
  border-bottom: lightgray solid 1px;
  padding: 4px;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.ko-column-title {
  font-weight: 500;
}

.ko-cancel-stroked-button {
  color: $kolibri-cancel;
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.ko-cancel-stroked-button:hover {
  background-color: $kolibri-cancel;
  color: white;
  border-color: $kolibri-cancel;
}
